asgiref==3.12.1
cffi==2.1.1
cryptography==50.0.0
Django==5.2.16
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
PyJWT==2.13.0
pymupdf==1.28.0
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.3
